@font-face {
   /*font-family: "Accius-T-OT-Light-Condensed";*/
   font-family: "Montserrat", sans-serif; }

img.kiri {
    float: left;
    height: 50px;
    width: 80px;
    margin: 10px;
}

img.kirigaruda {
    float: left;
    height: 52px;
    width: 47px;
    margin-top: 10px;
    margin-left: 4px;
}

img.kanan {
    float: right;
    height: 70px;
    width: 55px;
     margin: 10px;
}

hr {
    margin: 50px 0;
}
 
hr.style1 {
     border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #dadada, #333, #dadada);
    background-image:    -moz-linear-gradient(left, #dadada, #333, #dadada);
    background-image:     -ms-linear-gradient(left, #dadada, #333, #dadada);
    background-image:      -o-linear-gradient(left, #dadada, #333, #dadada);
}

/* seacrhing */
form {
    width:500px;
    margin:50px auto;
}

.background-overlay{
	position: absolute;
	background: linear-gradient(to bottom, #b2f0b1, #b3f3b2, #adf5ac);
	background-size: 100% 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: .6;
	z-index: -5;
}
body {
	/*font-family: Accius-T-OT-Light-Condensed;*/
	font-family: "Montserrat", sans-serif;
    background-image:url("../img/1b.jpg");
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    margin: 0px 0px 0px 0px;
}
html {
    height: 100%
}
a{
	text-decoration: none;
	color: #000;
	
}
p{
	text-decoration: none;
	color: #000;
}
.warna{
	color: #000;
}

.logo{
	max-height: 40%;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	margin: auto;
	}
.panel_menu{
	max-height: 50%;
	max-width: 100%;
	vertical-align: middle;
	text-align: center;
  	list-style: none;
  	margin-top: 2%;
  /*	margin-bottom: 1%;*/
  	/*border: 1px solid silver;*/
  	-ms-box-orient: horizontal;
 	display: -webkit-box;
 	display: -moz-box;
 	display: -ms-flexbox;
 	display: -moz-flex;
  	display: -webkit-flex;
  	display: flex;
  	justify-content:center;
  	-webkit-justify-content:center;
  	-moz-justify-content:center;
  	-ms-justify-content:center;
}
.menu{
	width:15%;
	letter-spacing: 2px;
	font-size: 20px;
	/*border: 1px solid gray;
	vertical-align: middle;
	text-align: center;*/
}
.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.wrap_content{
	border-radius: 20px;
	width: 110px;
	height: 110px; 
	margin: auto;
	cursor:pointer;

	height: 265px;
    width: 265px;
    
     -moz-transition: 1s;
      -ms-transition: 1s;
       -o-transition: 1s;
          transition: 1s;
}

@keyframes bounce { /*lompatlompat*/
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.wrap_content:hover{
	/*background-color: #000; */
	animation: bounce 0.5s; /*lompatlompat*/
}
.wrap_content_active{
	background-color: #000; 
	/*border-radius: 110px;*/
	width: 110px;
	height: 110px; 
	margin: auto;
	cursor:pointer;
	display: none;
}
.homepage{
	width: 100%;
	max-height: 10%;
	margin-top: 2%;

}

.contact{
	vertical-align: bottom;
	text-align: center;
	-ms-box-orient: horizontal;
	display: -webkit-box;
 	display: -moz-box;
 	display: -ms-flexbox;
 	display: -moz-flex;
  	display: -webkit-flex;
  	padding: 5%;
	font-size: 10px;
	justify-content: center;
	
}
  .icon{
	height: 20px;
    width: 20px;
    margin:auto;
}
 .sosmed{
 	padding-right: 2%;
 }

@media (max-height: 350px){
	.logo img{
	 	height:90px !important;
	 }
	.wrap_content img,.wrap_content,.wrap_content_active img,.wrap_content_active{
		/*border-radius: 40px !important;*/
		width: 40px !important;
		height: 40px !important; 
	}
	.font-wrap{
		font-size: 8px !important;
	}
}
@media (max-width: 600px) {
	.contact{
		font-size: 5.5px;
	}
	.icon{
	height: 12px;
    width: 12px;
	}

	*{
		letter-spacing: 0px;
	}
	 .logo img{
	 	height:100px;
	 }
	.wrap_content img,.wrap_content,.wrap_content_active img,.wrap_content_active{
		/*border-radius: 40px;*/
		width: 40px;
		height: 40px; 
	}
	.font-wrap{
		font-size: 8px;
	}
	.gotolink{
		font-size: 8px;
	        white-space: nowrap;
	        width: 15%;
	        padding-top:2px;
	}
	img.kiri {
    height: 30px;
    width: 35px;
    margin-right: 5px;
    margin-top: 7px;
	}
	img.kirigaruda {
    height: 30px;
    width: 24px;
    margin-top: 7px;
    margin-left: 0px;
	}
	img.kanan {
    height: 35px;
    width: 24px;
    margin-top: 7px;
	}
}
@media (min-width: 601px) and (max-width: 991px)  { 
	.contact{
		font-size: 8px;
	}
	.icon{
		height: 18px;
	    width: 18px;
	}
	 .logo img{
	 	height:125px;
	 }
	.wrap_content img,.wrap_content,.wrap_content_active img,.wrap_content_active{
		/*border-radius: 50px;*/
		width: 50px;
		height: 50px; 
	}
	.font-wrap{
		font-size: 12px;
	}
	.gotolink{
		font-size: 12px;
	        white-space: nowrap;
	        width: 15%;
	        padding-top:2px;
	}
	img.kiri {
    height: 39px;
    width: 45px;
    margin-right: 7px;
    margin-top: 9px;
	}
	img.kirigaruda {
    height: 39px;
    width: 33px;
    margin-top: 9px;
    margin-left: 2px;
	}
	img.kanan {
    height: 44px;
    width: 33px;
    margin-top: 9px;
	}
}
@media (min-width: 992px) and (max-width: 1199px)  {
 	.logo img{
	 	height:175px;
	 }
	.wrap_content img,.wrap_content,.wrap_content_active img,.wrap_content_active{
		/*border-radius: 75px;*/
		width: 75px;
		height: 75px; 
	}
	.font-wrap{
		font-size: 14px;
	}
	.gotolink{
		font-size: 16px;
	        white-space: nowrap;
	        width: 15%;
	        padding-top:2px;
	}
}
@media (min-width: 1200px) and (max-width: 1399px)  {
	.logo img{
	 	height:200px;
	 }
	.wrap_content img,.wrap_content,.wrap_content_active img,.wrap_content_active{
		/*border-radius: 100px;*/
		width: 100px;
		height: 100px; 
	}
	.font-wrap{
		font-size: 18px;
	}
	.gotolink{
		font-size: 18px;
	        white-space: nowrap;
	        width: 15%;
	        padding-top:2px;
	}
}
@media (min-width: 1400px) and (max-width: 1599px)  {
	.logo img{
	 	height:210px;
	 }
	.wrap_content img,.wrap_content,.wrap_content_active img,.wrap_content_active{
		/*border-radius: 100px;*/
		width: 100px;
		height: 100px; 
	}
	.font-wrap{
		font-size: 22px;
	}
	.gotolink{
		font-size: 22px;
	        white-space: nowrap;
	        width: 15%;
	        padding-top:2px;
	}
}
@media (min-width: 1600px) and (max-width: 1920px)  {
	.logo img{
	 	height:245px;
	 }
	.wrap_content img,.wrap_content,.wrap_content_active img,.wrap_content_active{
		/*border-radius: 125px;*/
		width: 125px;
		height: 125px; 
	}
	.font-wrap{
		font-size: 24px;
	}
	.gotolink{
		font-size: 24px;
	        white-space: nowrap;
	        width: 15%;
	        padding-top:2px;
	}
}
@media (min-width: 2000px) and (max-width: 2559px)  { 
	.logo img{
	 	height:275px;
	 }
	.wrap_content img,.wrap_content,.wrap_content_active img,.wrap_content_active{
		/*border-radius: 175px;*/
		width: 175px;
		height: 175px; 
	}
	.font-wrap{
		font-size: 28px;
	}
	.gotolink{
		font-size: 28px;
	        white-space: nowrap;
	        width: 15%;
	        padding-top:2px;
	}
}
@media (min-width: 2560px) { 
	.logo img{
	 	height:300px;
	 }
	.wrap_content img,.wrap_content,.wrap_content_active img,.wrap_content_active{
		/*border-radius: 200px;*/
		width: 200px;
		height: 200px; 
	}
	.font-wrap{
		font-size: 32px;
	}
	.gotolink{
		font-size: 32px;
	        white-space: nowrap;
	        width: 15%;
	        padding-top:2px;
	}
}