@font-face {
   /*font-family: "Accius-T-OT-Light-Condensed";*/
   font-family: "Montserrat", sans-serif; }

img.kiri {
    float: left;
    height: 8%;
    width: 6%;
    margin: 10px;
}

img.kirigaruda {
    float: left;
    height: 8%;
    width: 4%;
    margin-top: 10px;
    margin-left: 4px;
}

img.kanan {
    float: right;
    height: 12%;
    width: 4.5%;
     margin: 10px;
}

hr {
    margin: 50px 0;
}
 
hr.style1 {
     border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #dadada, #333, #dadada);
    background-image:    -moz-linear-gradient(left, #dadada, #333, #dadada);
    background-image:     -ms-linear-gradient(left, #dadada, #333, #dadada);
    background-image:      -o-linear-gradient(left, #dadada, #333, #dadada);
}

/* seacrhing */
form {
    width:500px;
    margin:50px auto;
}
.search {
    padding:8px 15px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
}
.button {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid #53bd84;
    background-color:#53bd84;
    color:#fafafa;
}
.button:hover  {
    background-color:#fafafa;
    color:#207cca;
}
.background-overlay{
	position: absolute;
	/*background: linear-gradient (rgba(241, 196, 15,0.5));*/
	/*background: linear-gradient(to right, #fceabb, #f8b500);*/
	/*background: linear-gradient(to bottom, #FF512F, #F09819,#000000);*/
	background: linear-gradient(to bottom, #b2f0b1, #b3f3b2, #adf5ac);
	background-size: 100% 100%;
/*	background: linear-gradient(to bottom, #2980b9, #6dd5fa, #ffffff);*/
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: .6;
	z-index: -5;
}
body {
	/*font-family: Accius-T-OT-Light-Condensed;*/
	font-family: "Montserrat", sans-serif;
    background-image:url("../img/bgkota2.jpg");
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    margin: 0px 0px 0px 0px;
}
html {
    height: 100%
}
a{
	text-decoration: none;
	color: #000;
	
}
p{
	text-decoration: none;
	color: #000;
}
.warna{
	color: #000;
}

.logo{
	max-height: 40%;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	margin: auto;
	}
.panel_menu{
	max-height: 50%;
	max-width: 100%;
	vertical-align: middle;
	text-align: center;
  	list-style: none;
  	margin-top: 2%;
  /*	margin-bottom: 1%;*/
  	/*border: 1px solid silver;*/
  	-ms-box-orient: horizontal;
 	display: -webkit-box;
 	display: -moz-box;
 	display: -ms-flexbox;
 	display: -moz-flex;
  	display: -webkit-flex;
  	display: flex;
  	justify-content:center;
  	-webkit-justify-content:center;
  	-moz-justify-content:center;
  	-ms-justify-content:center;
}
.menu{
	width:15%;
	letter-spacing: 2px;
	font-size: 20px;
	/*border: 1px solid gray;
	vertical-align: middle;
	text-align: center;*/
}
.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}


.wrap_content{
	border-radius: 20px;
	width: 110px;
	height: 110px; 
	margin: auto;
	cursor:pointer;

	height: 265px;
    width: 265px;
    
     -moz-transition: 1s;
      -ms-transition: 1s;
       -o-transition: 1s;
          transition: 1s;

}
.wrap_content:hover{
	/*background-color: #000;*/ 
<<<<<<< HEAD
	 
	transition: linear background-color 0.5s;
	border-radius:20px;
	opacity: 0.7;
	-webkit-transform: rotateY(180deg);
=======
	background-color: #b3f3b2; 
	transition: linear background-color 0.5s;

>>>>>>> 3dc2201a41d2f678c6741ba2ddfeb6e00c2ef4b6
     -moz-transform: rotateY(180deg); 
      -ms-transform: rotateY(180deg);
       -o-transform: rotateY(180deg);
          transform: rotateY(180deg);

}
.wrap_content_active{
	background-color: #000; 
	/*border-radius: 110px;*/
	width: 110px;
	height: 110px; 
	margin: auto;
	cursor:pointer;
	display: none;
}
.homepage{
	width: 100%;
	max-height: 10%;
	margin-top: 2%;

}
.gotolink{
	vertical-align: middle;
	text-align: center;
	margin: auto;
	padding: auto;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	font-size: 20px;
	width: 10%;
	cursor: pointer;
}

.contact{
	vertical-align: bottom;
	text-align: center;
	-ms-box-orient: horizontal;
	display: -webkit-box;
 	display: -moz-box;
 	display: -ms-flexbox;
 	display: -moz-flex;
  	display: -webkit-flex;
  	padding: 5%;
	font-size: 10px;
	justify-content: center;
	
}
  .icon{
	height: 20px;
    width: 20px;
    margin:auto;
}
 .sosmed{
 	padding-right: 2%;
 }
@media (max-height: 350px){
	.logo img{
	 	height:90px !important;
	 }
	.wrap_content img,.wrap_content,.wrap_content_active img,.wrap_content_active{
		/*border-radius: 40px !important;*/
		width: 40px !important;
		height: 40px !important; 
	}
	.font-wrap{
		font-size: 8px !important;
	}
}
@media (max-width: 600px) {
	*{
		letter-spacing: 0px;
	}
	 .logo img{
	 	height:100px;
	 }
	.wrap_content img,.wrap_content,.wrap_content_active img,.wrap_content_active{
		/*border-radius: 40px;*/
		width: 40px;
		height: 40px; 
	}
	.font-wrap{
		font-size: 8px;
	}
	.gotolink{
		font-size: 8px;
	        white-space: nowrap;
	        width: 15%;
	        padding-top:2px;
	}
	img.kiri {
    height: 40px;
    width: 39px;
	}
	img.kirigaruda {
    height: 40px;
    width: 34px;
	}
	img.kanan {
    height: 40px;
    width: 34px;
	}
}
@media (min-width: 601px) and (max-width: 991px)  { 
	 .logo img{
	 	height:125px;
	 }
	.wrap_content img,.wrap_content,.wrap_content_active img,.wrap_content_active{
		/*border-radius: 50px;*/
		width: 50px;
		height: 50px; 
	}
	.font-wrap{
		font-size: 12px;
	}
	.gotolink{
		font-size: 12px;
	        white-space: nowrap;
	        width: 15%;
	        padding-top:2px;
	}
	img.kiri {
    height: 49px;
    width: 49px;
 }
 img.kirigaruda {
    height: 49px;
    width: 37px;
 }
 img.kanan {
    height: 49px;
    width: 39px;
 }
}
@media (min-width: 992px) and (max-width: 1199px)  {
 	.logo img{
	 	height:175px;
	 }
	.wrap_content img,.wrap_content,.wrap_content_active img,.wrap_content_active{
		/*border-radius: 75px;*/
		width: 75px;
		height: 75px; 
	}
	.font-wrap{
		font-size: 14px;
	}
	.gotolink{
		font-size: 16px;
	        white-space: nowrap;
	        width: 15%;
	        padding-top:2px;
	}
}
@media (min-width: 1200px) and (max-width: 1399px)  {
	.logo img{
	 	height:200px;
	 }
	.wrap_content img,.wrap_content,.wrap_content_active img,.wrap_content_active{
		/*border-radius: 100px;*/
		width: 100px;
		height: 100px; 
	}
	.font-wrap{
		font-size: 18px;
	}
	.gotolink{
		font-size: 18px;
	        white-space: nowrap;
	        width: 15%;
	        padding-top:2px;
	}
}
@media (min-width: 1400px) and (max-width: 1599px)  {
	.logo img{
	 	height:210px;
	 }
	.wrap_content img,.wrap_content,.wrap_content_active img,.wrap_content_active{
		/*border-radius: 100px;*/
		width: 100px;
		height: 100px; 
	}
	.font-wrap{
		font-size: 22px;
	}
	.gotolink{
		font-size: 22px;
	        white-space: nowrap;
	        width: 15%;
	        padding-top:2px;
	}
}
@media (min-width: 1600px) and (max-width: 1920px)  {
	.logo img{
	 	height:245px;
	 }
	.wrap_content img,.wrap_content,.wrap_content_active img,.wrap_content_active{
		/*border-radius: 125px;*/
		width: 125px;
		height: 125px; 
	}
	.font-wrap{
		font-size: 24px;
	}
	.gotolink{
		font-size: 24px;
	        white-space: nowrap;
	        width: 15%;
	        padding-top:2px;
	}
}
@media (min-width: 2000px) and (max-width: 2559px)  { 
	.logo img{
	 	height:275px;
	 }
	.wrap_content img,.wrap_content,.wrap_content_active img,.wrap_content_active{
		/*border-radius: 175px;*/
		width: 175px;
		height: 175px; 
	}
	.font-wrap{
		font-size: 28px;
	}
	.gotolink{
		font-size: 28px;
	        white-space: nowrap;
	        width: 15%;
	        padding-top:2px;
	}
}
@media (min-width: 2560px) { 
	.logo img{
	 	height:300px;
	 }
	.wrap_content img,.wrap_content,.wrap_content_active img,.wrap_content_active{
		/*border-radius: 200px;*/
		width: 200px;
		height: 200px; 
	}
	.font-wrap{
		font-size: 32px;
	}
	.gotolink{
		font-size: 32px;
	        white-space: nowrap;
	        width: 15%;
	        padding-top:2px;
	}
}
/*style1
-webkit-transform: rotateY(360deg);
    -webkit-transform-style: preserve-3d;  Chrome, Safari, Opera 
    transform: rotateY(360deg);
    transform-style: preserve-3d;
	transition: 2s;
style2
transition: linear background-color  1s;*/