@media (max-width: 1199px){
    .about_person_area .person_img {
        max-width: none;
        width: 100%;
        display: block;
        
            margin-left: 6px;
        
        
    }
    .about_person_area .person_details {
        margin-left: 0px;
    }  
}

@media (max-width: 991px){
    .about_person_area .person_img {
        text-align: center;
    }
    .about_person_area .person_details {
        margin-top: 30px;
    }
}
@media (max-width: 767px){
    .person_details .social_icon li {
        margin-bottom: 8px;
    }
    .person_details .social_icon {
        margin-bottom: -8px;
    }
    
}

@media (max-width: 500px){
    .pad{
        padding-left: 15px;
        padding-right: 15px;
    }
    .about_person_area .person_details .person_information ul + ul {
        padding-left: 6px;
    }
    .main_container{
        padding: 0px;
    }
}
@media (max-width: 480px){
   #profil{
        font-size: 20px;
        align: center;
    }
   
    .about_person_area .person_img{
        margin-left: px;
    }
  
}